
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DIỄN ĐÀN  -->
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- CHI TIẾT DIỄN ĐÀN -->
            <div class="mb-5">
                <img class="img-fluid w-100 rounded mb-5" src="~/img/blog-2.jpg" alt="">
                <h1 class="mb-4">Mách bạn cách giảm đau khi mọc răng khôn nhanh tại nhà</h1>
                <p>
                    Đau nhức mỗi khi răng khôn mọc luôn là một trong những vấn đề khiến nhiều người lo sợ và ám ảnh. Vì chiếc răng này không những không đóng vai trò ăn nhai mà còn gây ảnh hưởng đến sức khỏe như sưng má, sốt, mọc chèn vào răng số 7,… Những lúc như thế nếu như bạn biết cách giảm đau khi mọc răng khôn thì mọi chuyện sẽ trở nên đơn giản hơn. Cùng Nha Khoa Kim đi tìm hiểu trong bài viết dưới đây nhé!
                </p>
                <p>
                    Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores
                    vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit
                    nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore
                    ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
                    clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat
                    justo dolore sit invidunt.
                </p>
                <p>
                    Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua tempor
                    invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam
                    lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor
                    rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor
                    sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at
                    lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
                    sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.
                </p>
                <div class="d-flex justify-content-between bg-light rounded p-4 mt-4 mb-4">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle me-2" src="~/img/user.jpg" width="40" height="40" alt="">
                        <span>Trần Quốc Duy</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</span>
                        <span class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</span>
                    </div>
                </div>
            </div>
            <!-- KẾT THÚC DIỄN ĐÀN -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- TÌM KIẾM -->
            <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-3" placeholder="Từ Khóa">
                    <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <!-- KẾT THÚC TÌM KIẾM -->
            <!-- Category Start -->
            @*<div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Categories</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Web Design</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Keyword Research</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Email Marketing</a>
                </div>
            </div>*@
            <!-- Category End -->
            <!-- THÊM BÀI ĐĂNG -->
            <div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Bài Đăng Khác</h4>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet consec adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet consec adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet consec adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet consec adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet consec adipis elit
                    </a>
                </div>
            </div>
            <!-- HẾT PHẦN BÀI ĐĂNG -->
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- HẾT DIỄN ĐÀN -->
